<% @page_title = "Order" %>
<h1>
  <%= @page_title %><br>
  <%= current_user.email %>
</h1>
<table class="list">
  <tr>
    <th>注文日</th>
    <% @column_headers.each.with_index do |column_header| %>
    <th>
      <%= column_header.name %><br>
      <%= column_header.price %>円
    </th>
    <% end %>
  </tr>
  <% @row_headers.each do |target_day| %>
  <tr>
    <td>
      <%= target_day %>
    </td>
    <% (@orders[target_day]).each do |order| %>
    <td>
      <%= form_with model: order, id: order[:id] do |f| %>
      <%= f.number_field :number %>
      <%= f.submit %>
      <% end %>
      <%# <%= @monthly_lists[i][n] %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>