<%  @page_title = "Order" %>
<h1><%= @page_title %></h1>

  <table class="list">
    <tr>
      <th>注文日</th>
      <th>商品名</th>
      <th>単価</th>
      <th>数量</th>

      <th>取消</th>
    </tr>
    <%
=begin%>
 <% @orders.each do |order| %>
      <tr>
        <td><%= order.date %></td>
        <td><%= order.item.name %></td>
        <td><%= order.item.price %></td>
        <td><%= order.number %></td>
        <td><%= %>
      </tr>
    <% end %> 
<%
=end%>
  </table>


    <table class="list">
    <tr>
      <th>注文日</th>
      <% @items.each do |item| %>
        <th><%= item.name %></th>
      <% end %>
    </tr>
    <% @target_days.each do |target_day| %>
      <tr>
        <td><%= target_day %></td>
        <td><% (0..@items.count).each do |n| %>
        <%= @monthly_lists[0][n] %> 
        <% end %>
        </td>
      </tr>

    <% end %>
  </table>
  


  <% @monthly_lists.each do |monthly_list_row| %>
  <% monthly_list_row.each do |monthly_col| %>
    <%= monthly_col %>
  <% end %>
<% end %>

