<%  @page_title = "Order" %>
<h1>
  <%= @page_title %>
  <%= current_user.email %>
</h1>
<%= form_tag({action: :index}, {method: :post}) do %>
<table class="list">
  <tr>
    <th>注文日</th>
    <% @items.each.with_index do |item| %>
    <th>
      <%= item.name %><br>
      <%= item.price %>円</th>
    <% end %>
  </tr>
  <% @target_days.each.with_index do |target_day, i| %>
  <tr>
    <td>
      <%= target_day %>
    </td>
    <% (0..@items.count - 1).each do |n| %>
    <td>
      <%= number_field_tag "monthly_list", @monthly_lists[i][n],min:0,max:100 %>
      <%# <%= @monthly_lists[i][n] %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>
<%= submit_tag '検索する' %>
<% end %>